@import '/web-orig/remark.css';

:root {

    --color9 : #1565c0;
    --color15: #1565c0;
    --color33: #bbdefb;
    --color47: rgba(21, 101, 192, 0.4);
}

:root .dark {
    --color7 : #353847;
    --color8 : #23252f;
    --color9 : #bbdefb;
}

p.root__copyright {
    visibility: hidden;
    margin-top: 36px;
}
