# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

# Local Netlify folder
.netlify

# Latex
*gz
*aux
*latexmk
*log
*synctex*
*fls
*out

# Production environment variables
*.prod.env

# Remark42
var/

# Jupyter
*.generated
*.generated.md
