div.article-style {
    table {
        // Remove x-scrollbar when not needed
        overflow-x: auto;

        // Should not take up 100% of screen
        display: table;
        width  : inherit;

        // Center
        margin-left : auto;
        margin-right: auto;
    }
}
