.card {
    p.article-stars {
        text-align: center;
        font-size: 0.9rem;
        margin-top: -0.25em;
        margin-bottom: 0;
    }

    div.btn-links {
        text-align: center;
    }
}
